.bg-html{
   background-image: radial-gradient(circle, #F59035 15%, #EF6128 50%, #F06129 55%, #EB5824);
}

.b-shadow{
    width: 25%;
    height: 1%;
    padding: 1%;
    background-image: radial-gradient(#C85520 5%, rgba(200, 85, 32, 0) 60%);
}
